.painel-container {
  height: 100vh;
}

.sidebar-topo {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1rem;
  background-color: #f8fcfd;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.3);
}

.menu-lateral {
  width: 20rem;
  padding: 1rem;
  background-color: #f8fcfd;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.3);

  a {
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #424242;
    font-size: larger;
  }
}

.conteudo {
  display: flex;
  flex-direction: column;
  background-color: rgb(1, 177, 231);
}



mat-card {
  background-color: #ffffff;
}

mat-card-title {
  text-align: center;
  margin: 1rem;
}

::ng-deep mat-sidenav {
  border-radius: 0 !important;
}

.link-sidebar {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  margin: none;

  &:hover {
    background-color: #e1ebec;
  }
}


