<mat-sidenav-container class="painel-container">

  <div class="sidebar-topo">
    <h4>Bem-vindo, {{ usuario }}!</h4>
  </div>
  <mat-sidenav mode="side" opened class="menu-lateral">
    <a class="link-sidebar" href="/painel">Dashbord</a>
    <a class="link-sidebar" href="/usuarios">Usuários</a>
    <a class="link-sidebar" href="/configuracoes">Configurações</a>
  </mat-sidenav>
  <mat-sidenav-content class="conteudo">
    <div class="sidebar-topo">
      <h4>Bem-vindo, {{ usuario }}!</h4>
    </div>
    <app-home></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>
