<div class="login-page">
  <div class="container-login-left">
    <img [src]="imgLogin" alt="Imagem de Login" class="img-login" />
  </div>

  <div class="container-login-right">
    <div class="container-login-input-btn">

      <div class="login">
        <h4>LOGIN</h4>
      </div>

      <mat-form-field appearance="outline" class="input-custom">
        <mat-label>E-mail *</mat-label>
        <input matInput type="email" [(ngModel)]="email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-custom">
        <mat-label>Senha *</mat-label>
        <input matInput type="password" [(ngModel)]="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>


      <div class="box">
        <a class="link-recovery" href="/recuperação">Esqueceu a senha?</a>
      </div>

      <button class="btn-amarelo" mat-icon-button matSuffix (click)="handleLogin()" tabindex="-1">
        ENTRAR
      </button>

    </div>
  </div>
